<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestione Sequenze Aritmetiche</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>Gestione Sequenze Aritmetiche</h1>
    </header>
    <main>
        <section id="menu">
            <h2>Menu</h2>
            <ul>
               
                    <li><button onclick="mostraTermineN()">Calcolo termine n-esimo</button></li>
                    <li><button onclick="mostraDaDueTermini()">Calcolo da due termini noti</button></li>
                    <li><button onclick="mostraSommaN()">Somma dei primi n termini</button></li>
                  
                  
            </ul>
        </section>

        <section id="content">
            <!-- Placeholder for dynamic content -->
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Gestione Sequenze Aritmetiche</p>
    </footer>

    <script src="../static/scripts.js"></script>
</body>
</html>
